//COLOR
$white-color: #fff;
$black-color: #171616;

//BG
$pink-header-bg: #ff6f61;
$yellow-header-bg: #f6fe62;
$white-main-bg: #fdfafa;
$btn-color-bg: #007bff;
$card-bg: #fff;
$green-btn-bg: #28a745;
$red-btn-bg: #dc3545;
$card-hover-bg: #f8f9fa;

//BORDER
$border-color: #ddd;

//FONT SIZE
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font28: 28px;
$font32: 32px;
$font36: 36px;

//FONT WEIGHT
$fontSuperLight: 350;
$fontLight: 350;
$fontNormal: 500;
$fontBold: 700;
$fontSuperBold: 840;