@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.CityCard {
  width: 200px;
  padding: 20px;
  background: $card-bg;
  border: 1px solid $border-color;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  text-align: center;

  &__title {
    margin-bottom: 28px;
    font-size: $font24;
    font-weight: $fontBold;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: $fontNormal;
  }

  &__btn {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: $font14;

    &-green {
      background-color: $green-btn-bg;
      color: $white-color;
    }

    &-red {
      background-color: $red-btn-bg;
      color: $white-color;
    }

    &:hover {
      background-color: $card-hover-bg;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      color: $black-color;
    }
  }

  @include m {
    width: 180px;
    padding: 18px;

    &__title {
      font-size: $font22;
      margin-bottom: 24px;
    }

    &__text {
      font-size: 22px;
      margin-bottom: 18px;
    }

    &__btn {
      font-size: $font12;
      padding: 9px;
    }
  }

  @include s {
    width: 150px;
    padding: 15px;

    &__title {
      font-size: $font20;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 20px;
      margin-bottom: 15px;
    }

    &__btn {
      font-size: $font12;
      padding: 8px;
    }
  }
}
